@use '../../assets/styles/mixins' as mixin;

table,
th,
td {
  border: 1px solid;
}

th {
  background-color: #A0A0A0
}

table {
  width: 100%;
}

th {
  font-size: 16px;
  font-weight: bolder;
}

.table_container {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.table_name {
  font-size: 16px;
  font-weight: bolder;
  background-color: var(--primary);
}

.count {
  width:15%;
}

.desc {
  width:15%;
}

.info {
  width:20%;
}

.comm {
  width:15%;
}

.mapped {
  width:15%;
}


