@use '../../assets/styles/mixins' as mixin;

.containerCarousel{
    align-content: center;
    justify-content: center;
    position: relative;
    margin: 50px 100px;
    height: 450px;
    @include mixin.sm-lt {
        margin: 20px;
        height: 250px;
    }

    .slideImage{
    border-radius: 25px;
    width: 2000px;
    height: 450px;
    object-fit: cover; 
    @include mixin.sm-lt {
        height: 250px;
    }
        
    }

    .btnright{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 40%;
        right: 20px;
        cursor: pointer;
        @include mixin.sm-lt {
            height: 30px;
            width: 30px;  
        }
    }
    .btnleft{
        position: absolute;
        background-color: transparent;
        border: none;
        top: 40%;
        left: 20px;
        cursor: pointer;
        @include mixin.sm-lt {
            height: 30px;
            width: 30px;  
        }
    }
   .number{
    text-align: center;
    margin-top: -50px;
    font-size: 18px;
    color: var(--text-color);
    @include mixin.sm-lt {
        font-size: 12px;
        margin-top: -40px;
    }
   }
    
}