@use '../../assets/styles/mixins' as mixin;


.error{
    color: var(--primary);
    margin-top: 120px;
    margin-bottom: 70px;
    justify-content: space-around;

    h1 {
        font-size: 288px;
        font-weight: 700;
        @include mixin.sm-lt {
            font-size: 96px ;
          }
    }
    p {
        font-size: 36px;
        margin-top: 66px;
        margin-bottom: 150px;
        @include mixin.md {
            text-align: center;
            margin: 66px 50px 150px 50px;
          }
        @include mixin.sm-lt {
            text-align: center;
            font-size: 14px;
            margin: 66px 50px 150px 50px;
          }
    }
    a {
        color: var(--primary); 
        font-size: 18px;
        @include mixin.sm-lt {
            font-size:14px ;
          }
    }
}