:root {
    --background:#2d375f;
    --primary:#ED726C;
    --searchpop:#0099ff;
    --gray-1: #F7F7F7;
    --font-family: 'Raleway', sans-serif;
    --text-color: #FFFFFF;
    --shadow: #817462;
    --butvalidate:#3bac3b;
  }