.grid {
 display: flex;
 flex-direction: column;
}

.contentcard {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--gray-1);
    max-width: 100%;
}

textarea {
    overflow: hidden;
    min-height: 100px;
    max-height: 100px;
}

.staticmenu {
    box-shadow: 10px 10px 5px black;
    background-color:var(--searchpop);
    top:15px;
    left: 50%;
    transform: translate(-50%);
    z-index:9999;
    border-radius:5px;
    display:block;
    position:fixed;
}

.searchzone {
    padding:15px;
    display: flex;
    justify-content: center;

}

.searchinput {
    border-radius: 5px;
    height: 25px;
    font-size:20px;
}