@use '../../assets/styles/mixins' as mixin;


.containerCollapse {
    margin: 50px 100px;
    max-width: 100%;
    
    @include mixin.sm-lt {
        margin: 20px;
    }
}

.banner {
    background:rgba(22, 21, 21, 0.199) url("../../assets/images/PageProposBanner.png") ;
    background-size: cover;
    background-position: center;
    background-blend-mode:hue;
    height: 230px;
    margin: 65px 100px 0 100px;
    border-radius: 25px;
   
    @include mixin.sm-lt {
        background:rgba(22, 21, 21, 0.199) url("../../assets/images/PageProposBannerMobile.png") ;
        background-size: cover;
        background-position:center ;
        background-blend-mode:hue;
        height: 230px;
        margin: 20px ;
    }   
}

