@use '../../assets/styles/mixins' as mixin;

.collapse {
    align-items:flex-end;
    color: var(--text-color);
    border-radius: 5px;
    margin: 0 30px 30px 30px;
    position: relative;

    @include mixin.sm-lt {
        margin: 15px 0 15px 0;
    }
    .containerButton{
        width: 100%;
        border-radius: 5px;
        justify-content: space-between;
        background-color: var(--primary);
        margin-bottom: -10px;
        z-index: 2;
       
        button{
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            border-radius: 5px;
            
            
            @include mixin.sm-lt {
                width: 35px;
                height: 35px;
            }
            
        }
        .rotate180{
               transform: rotateZ(180deg);
            }
        
        h2{
            padding: 10px;
            font-weight: 500;
            font-size: 24px;
            width: 150px;
            background-color: var(--primary);
            border-radius: 5px;

            @include mixin.sm-lt {
               font-size: 13px;
            }
        } 
    }   
.text {
    padding: 20px;
    background-color: var(--gray-1);
    border-radius: 0 0 5px 5px;
    color: var(--primary);
    font-size: 24px;
    font-weight: 300;

    @include mixin.sm-lt {
        font-size: 12px;
    }
   }

.textOpen {
    width: 100%;
    }
}