.header {
  justify-content: space-between;
  height: 10px;

.activeStyle {
  text-decoration: underline;
}
  a {
  color: var(--primary);
  text-decoration: none;
  margin-left: 55px;
  font-size: 24px;
  font-weight: 500;

  }
  .logo{
    width: 210px;
    height: 68px;
    cursor: pointer;
  }
}


