@use '../../assets/styles/mixins' as mixin;

.grid {
 display: flex;
 flex-direction: column;
}

.contentcard {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--gray-1);
    max-width: 100%;

    @include mixin.md-lt{
        padding: 50px 0;
    }
    @include mixin.sm-lt {
        background-color: var(--text-color);
        margin: 20px;
        padding: 0px 0;

    }
}

textarea {
    overflow: hidden;
    min-height: 100px;
    max-height: 100px;
}

.searchzone {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

.searchinput {
    border-radius: 5px;
    height: 25px;
    font-size:20px;
    box-shadow: 5px 5px 15px 5px #000000;
}