@use '../../assets/styles/mixins' as mixin;

.footer {
    background-color:#000000 ;
    color: white;
    font-size: 24px;
    height: 210px;
    padding: 20px;
    
    .logofooter{
      height: 40px;
      cursor: pointer;
    }
    @include mixin.sm-lt {
      font-size: 12px;
    }
}